:root {
  --color-primary: #f6eee0;
  --color-dark: #003060;
  --color-brown: #a47551;
  --color-red: #e55b13;
  --roboto: 'Roboto Slab', serif;
  --color-primary-dark: #e9dccb; 
}

html {
  scroll-behavior: smooth; 
}
*, ::before, ::after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
body {
  font-family: var(--roboto) ;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  }

header {
    background-color: var(--color-primary);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.logo-img {
  width: 60px;
}
h1 {
  color: var(--color-dark);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.search-header {
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 1px solid var(--color-primary-dark); */
    /* box-shadow: 0 0 10px var(--color-primary-dark); */
}
#book-search {
    width: 400px;
    height: 50px;
    border: 0;
    padding: 0;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--color-primary);
    box-shadow: 0 5px 8px var(--color-primary-dark);
}
#book-search:focus {
  outline: none;
  border-color: var(--color-primary-dark);
  box-shadow: 0 5px 20px var(--color-primary-dark);
  /* -webkit-box-shadow: none;
  box-shadow: none; */
}
#book-search::placeholder{
  /* margin-left: 20px; */
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--color-brown);
  line-height: 160%;
}
.lens-search {
    background: var(--color-red);
    color: var(--color-primary);
    padding: 0 20px;
    /* width: 60px; */
    height: 50px;
    border: 0;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 6px 8px var(--color-primary-dark);
    /* border: 1px solid var(--color-primary-dark); */
}
.card-header {
  position: relative;
}
.widget {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-red);
  border-radius: 50%;
  margin-left: 40px;
  /* right: 0; */
  /* z-index: 20; */
}
.widget > p {
  text-align: center;
  color: var(--color-primary);
  font-weight: 500;
}
.cart-header-img {
    width: 55px;
    cursor: pointer;
}


.home-section {
  background: radial-gradient(circle at 50% -400%, var(--color-primary) 95%, #ffffff 50%);
  padding-top: 80px;
}
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 20px; */
  /* padding-bottom: 30px; */
}
.quote-content {
  width: 450px;
}
.quote-content p {
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--color-brown);
  line-height: 160%;
  margin-bottom: 20px;
}
figcaption {
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--color-dark);
  line-height: 160%;
}


.catalog-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 50px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}
.item {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    padding-bottom: 15px;
    /* cursor: pointer; */
    padding: 20px, 40px;
    width: 270px;
    border: 1px solid var(--color-primary);
    box-shadow: 0 5px 9px var(--color-primary);
    overflow: hidden;
}
.item:hover {
  /* background-color: grey; */
  /* border: 1px solid grey; */
  box-shadow: 0px 5px 10px var(--color-primary-dark);
}
.item:hover .show-more {
  display: block;
}

.cover {
  width: 103%;
  height: 360px;
  margin-left: -2px;
  margin-top: -2px;
   border-radius: 10px 10px 0 0px;
   margin-bottom: 20px;
   position: relative;
   /* cursor: pointer; */
}
.item:hover .cover {
  background-color: var(--color-brown);
  opacity: 0.6;
}

h2 {
  color: var(--color-dark);
  font-weight: 500;
  /* font-size: 15px; */
}
.price {
  margin-left: 15px
}
h3 {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 17px;
}
.title {
  margin: 0 15px 10px 15px;
  height: 68px;
}
h4 {
  color: var(--color-brown);
  font-weight: 500;
  font-size: 15px;
}
.author {
  margin: 0 15px 10px 15px;
  height: 40px;
}
.price-cart-item {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* padding: 0 15px; */
  width: 100%;
  /* border: 1px solid blue; */
}
.add-to-cart {
  /* background-image: url('/books-shop/assets/icons/shopping-cart.svg'); */
  background-color: var(--color-red);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;   */
    transition: 0.3s;
    width: 55px;
    color: var(--color-primary);
    /* height: 55px; */
    /* padding: 10px, 20px; */
    /* margin-left: 20px;
    margin-top: 20px; */
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    margin-right: 15px;
}
.add-to-cart:hover {
  background-color: var(--color-dark);
}
.show-more {
  cursor: pointer;
  height: 55px;
  /* width: 100px; */
  display: none;
  position: absolute;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 50;
 }
 .img-eye {
  height: 55px;
 }
 .show-more:hover ~ .cover {
  background-color: var(--color-brown);
  opacity: 0.6;
 }
 .modal {
  position: fixed;
    top: 10%;
    padding: 40px 50px;
    border-radius: 8px;
    background-color: white;
    z-index: 60000;
    width: 50%;
    min-height: 100px;
    display: none;
    left: 25%;
    /* margin-left: -200px; */
    max-height: 80%;
    box-sizing: border-box;
    cursor: default;
    border: 1px solid var(--color-primary);
    box-shadow: 0 5px 9px var(--color-primary);
}
.modal.on {
  display: block;
}
.modal-js-overlay {
  background: #444;
  opacity: .8;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 1000px;
  z-index: 20000;
  left: 0px;
}
.modal-js-close {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: var(--color-red);
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 37px;
  font-weight: 400;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 1px;
  top: -25px;
  right: -25px;
  cursor: pointer;
}
.card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.cover-card {
  width: 40%;
}
.card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* gap: 20%; */
}
.title-card {
  font-size: 25px;
  /* margin-bottom: 20px; */
}
.author-card {
  font-size: 20px;
  /* margin-bottom: 20px; */
}
.price-cart-item-card {
  align-items: center;
}
.price-cart-item-card > .price {
  font-size: 50px;
  margin: 0;
}
.price-cart-item-card > .add-to-cart {
  height: 55px;
  width: 150px;
  margin: 0;
  font-size: 15px;
}
.description-card {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

footer {
  background-color: var(--color-dark);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.git-footer {
  font-family: var(--roboto);
  color: var(--color-primary);
  font-weight: 400;
  font-size: 17px;
}
.git-footer a {
  text-decoration: none;
  color: var(--color-primary);
}
.git-footer a:hover {
  color: var(--color-red);
}
.img-footer {
  height: 55px;
}
.img-footer:hover {
  filter: brightness(1.5) sepia(1);
}